@font-face {
  font-family: "moonboat-iconfont";
  src: url("../assets/fonts/moonboat-iconfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.iconfont {
  font-family: "moonboat-iconfont" !important;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
